{:nrepl {:port 8777}

 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.3.0"]
  [day8.re-frame/http-fx "0.2.4"]
  [binaryage/devtools "1.0.6"]
  [com.teknql/shadow-cljs-tailwind-jit "1.0.0"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"

   :modules
   {:app {:init-fn wg-link.web.core/init}}

   :devtools
   {:preloads []
    :http-root "resources/public/"
    :http-port 3000}

   :dev
   {:build-hooks
    [(teknql.tailwind/start-watch!)]
    :compiler-options
    {:closure-defines {}}}

   :release
   {:build-hooks
    [(teknql.tailwind/compile-release!)]}

   :tailwind/files {:base-path "."}
   :tailwind/output "resources/public/css/site.css"}}}
